#main,
.posts
  +outer-container

.slick-container
  margin-top: 10px

.slick-prev:before, .slick-next:before
  opacity: .3
  color: $brand-color
  font-size: 25px

.slick-next:before
  content: '>'

.slick-prev:before
  content: '<'
  margin-left: -4px

.soundcloud-player-small
  margin:
    top: $small-margin

.index-article
  border-top: 1px solid rgba(#979797, 0.3)
  margin-bottom: 110px

.profile-article
  +media(max-width 1250px)
    margin-bottom: 83px

//.posts li:first-child .index-article
  border-top: 1px solid #0060ff
  +media(max-width 725px)
    border-top: 1px solid rgba(#979797, 0.3)

.profile-article
  +clearfix

.index-article
  +clearfix

.topic-list
  color: $light-gray
  line-height: 1.8em
  margin-left: 3px

.posts, .article-detail p
  font-size: 1.05em
  line-height: 1.35em

.posts, .article-detail p,
.profile-article p
  color: #4a4a4a

.profile-article p
  padding-bottom: 14px

.detail-post-date, .post-date
  font-size: 1em

.post-date
  display: block
  margin:
    bottom: em(-29px)
    //left: em(-111px)
  +shift(-2.6)
  +media(max-width 938px)
    display: block
    +shift(0)
    margin:
      bottom: $small-margin

.recent-posts li:before,
.article-detail li:before
  content: "• "
  color: $brand-color

.article-detail h3
  -webkit-margin-after: 0em
  -webkit-margin-before: 0em
  margin:
    top: em(23px)
    bottom: em(4px)
  line-height: 1em

h3.detail-post-topic-list 
  margin:
    top: 0px

.article-body
  +shift(3)
  +span-columns(6)
  font-family: CamptonBook
  color: #000000
  line-height: 27px
  letter-spacing: 0px
  margin-bottom: 45px
  +media(max-width 1250px)
    +shift(2)
    +span-columns(8)
  +media(max-width 830px)
    +shift(1)
    +span-columns(10)

.article-body p
  +media(max-width 725px)
    margin-top: 43px

.article-body p
  color: #4a4a4a

.article-border,
.suggestions-border
  +shift(1)
  +span-columns(10)

.article-border,
.photo-section-border
  margin-bottom: 110px

.article-border,
.photo-section-border,
.suggestions-border
  border-bottom: 1px solid rgba(#979797, .3)

.suggestions-border
  margin-top: 124px
  
.vimeo-section
  +shift(2)
  +span-columns(8)
  +media(max-width 830px)
    +shift(1)
    +span-columns(10)

.vimeo-player
  margin-bottom: 110px

.photo-section
  +shift(3)
  +span-columns(6)
  +media(max-width 830px)
    +shift(2)
    +span-columns(8)

.photo-section li
  margin-bottom: 108px
  &:last-of-type
    margin-bottom: 0px

.photo-section-header
  font-family: CamptonBoldDemo
  color: #9b9b9b
  font-size: 24px
  letter-spacing: 1.3px
  text-align: center
  font-weight: bold
  margin-bottom: 110px

.photo-section-border
  +shift(1)
  +span-columns(10)

.embed-container
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  max-width: 100%

.embed-container iframe,
.embed-container object,
.embed-container embed
  position: absolute
  top: 0
  left: 0
  width: 100% 
  height: 100%

.profile-header
  +span-columns(4)
  margin-bottom: 55px
  height: 215px
  +media(max-width 1250px)
    +span-columns(6)
  +media(max-width 830px)
    +span-columns(7)
  +media(max-width 725px)
    +shift(1)
    +span-columns(10)
    margin-bottom: 5px

.profile-header h2.post-title
  text-align: left
  margin:
    top: 17px
    bottom: 0px
  +media(max-width 725px)
    margin:
      top: 0px
      bottom: 0px
    text-align: center

.profile-header h2.post-title,
.profile-header .profile-date,
.profile-header h3.company-name
  +media(max-width 725px)
    text-align: center

.profilepic-wrapper
  +shift(3)
  +span-columns(2)
  height: 215px
  width: 215px
  +media(max-width 1250px)
    +shift(2)
  +media(max-width 830px)
    +shift(1)
  +media(max-width 725px)
    float: none
    margin-bottom: 48px
    height: 293px
    width: 293px
    display: block
    margin-left: auto
    margin-right: auto

h3.company-name
  font-family: CamptonBook
  float: none
  color: #9b9b9b
  font-size: 28px
  line-height: 52px
  margin-top: -7px

h3.profile.company-name
  color: #4a4a4a

h3.featured.company-name
  color: #0060ff

h4.profile-tags
  font-family: CamptonBook
  color: #9b9b9b
  margin-top: 45px
  text-transform: uppercase
  +media(max-width 725px)
    text-align: center
