.footer-border
  border-top: 1px solid rgba(#979797, .3)

footer
  +outer-container
  h3
    color: $light-gray
    margin:
      bottom: $small-margin

.copyright
  +shift(1)
  +span-columns(4)
  margin:
    top: 33px
    bottom: 48px
  font-family: CamptonBook
  font-size: 24px
  line-height: 50px
  color: #9b9b9b
  a
    color: #0060ff

.footer-links
  +shift(2)
  +span-columns(4)

.social-links
  +clearfix
  float: right
  font-family: Campton
  font-size: 24px
  line-height: 2.46
  margin:
    left: 77px
    top: 26px
  a
    color: #0060ff

.random-tag-list
  -webkit-margin-after: -0.5em

.recent-posts,
.footer-tags
  line-height: 1.6em
  margin:
    top: $large-margin
  a
    color: darken($medium-gray, 30%)
  li
    font-size: 1.05em
    margin:
      bottom: $small-margin
      top: $small-margin
  li:last-of-type
    margin-bottom: 0px

.footer-tags
  li
    display: inline
    margin:
      right: $small-margin

.recent-posts
  margin:
    bottom: $large-margin
  li
    text-indent: -12px

.interviewee-suggestions

.random-profiles-container
  +span-columns(12)
  margin-bottom: 124px
  margin-top: 124px
  h4
    text-align: center
    font-family: CamptonBoldDemo
    font-size: 24px
    letter-spacing: 1.3px
    color: #9b9b9b
    font-weight: bold

.interviewee-suggestion-item
  +span-columns(3)
  +shift(.518)
  margin-bottom: 85px
  &:first-of-type
    +shift(1)
