//.soundcloud-player-small
  margin:
    bottom: $medium-margin / 4

iframe
  box-shadow: 0px 1px 1px rgba(darken($medium-gray, 30%), 0.1)

.date
  padding-top: 1em

.newsletter-signup
  +outer-container
  height: 280px
  border:
    top: 1px solid rgba(#979797, .3)
  margin-top: 150px


.subscribe-text
  +shift(1)
  +span-columns(4)
  font-family: CamptonBook
  font-size: 24px
  letter-spacing: 0.1px
  color: #4a4a4a
  line-height: 33px
  margin:
    top: 103px
  +media(max-width 1250px)
    +span-columns(10)
    text-align: center
    margin-top: 49px

.newsletter-box
  margin-top: 108px
  +clearfix
  +shift(1)
  +span-columns(6)
  +media(max-width 1250px)
    +span-columns(10)
    margin-top: 48px

.newsletter-signup input
  width: 434px
  height: 70px
  border-radius: 2em 0px 0px 2em
  border: solid 1px #0060ff
  float: left
  +media(max-width 1250px)
    +span-columns(8)
    +shift(2)
    +clearfix
    border-radius: 2em 2em

input.btn-rounded
  border-radius: 0px 2em 2em 0px
  background-color: #0060ff
  border: solid 1px #0060ff
  font-family: CamptonBoldDemo
  letter-spacing: 1.8px
  text-transform: uppercase
  height: 70px
  width: 150px
  float: left
  &:hover
    background-color: #FFFFFF
    color: #0060ff
    border-left: none
  +media(max-width 1250px)
    +shift(5)
    border-radius: 2em 2em
    margin:
      top: 29px
      bottom: 63px
    &:hover
      border-left: 1px solid #0060ff


\::-webkit-input-placeholder
  /* WebKit, Blink, Edge
  color: #9b9b9b
  padding-left: 34px
  font-family: CamptonBook
  font-size: 20px
  letter-spacing: 0.4px

\:-moz-placeholder
  /* Mozilla Firefox 4 to 18
  color: #9b9b9b
  padding-left: 34px
  opacity: 1

\::-moz-placeholder
  /* Mozilla Firefox 19+
  color: #9b9b9b
  padding-left: 34px
  opacity: 1

\:-ms-input-placeholder
  /* Internet Explorer 10-11
  color: #9b9b9b
  padding-left: 34px

\::-ms-input-placeholder
  /* Microsoft Edge
  color: #9b9b9b
  padding-left: 34px
