.detail-post-title
  margin:
    top: 0.4em
    top: 0em

.profile-date
  color: #9b9b9b
  font-family: CamptonBook
  font-size: 20px
  letter-spacing: 1px
  margin-top: -6px

.index-article li
  font-family: CamptonBook
  color: #9b9b9b
  font-size: 24px
  letter-spacing: 1px
  line-height: 1.5
  &:first-child
    margin-top: 55px

.article-detail
  margin-bottom: $large-margin
  ul
    //margin:
      bottom: $large-margin
    -webkit-margin-after: 0em
  li
    text-indent: -13px
    -webkit-margin-after: 0em
  p
    margin:
      bottom: 0px

.article-detail p,
.article-detail li
  +media(max-width 830px)
    font-size: 1em
  font-size: 1.1em
  line-height: 1.6em
  color: $medium-gray

h3.detail-post-topic-list,
.tag-list-link
  +media(max-width 830px)
    font-size: 1.1em
  font-size: 1.2em
  line-height: 1.6em
  margin:
    bottom: $small-margin

section.tag-list-section
  margin-bottom: 1em

.show_notes_display p
  margin-top: 100px

.show_notes_display b
  font-weight: normal
  font-size: em(25px)
  margin-top: 30px
  margin-bottom: 10px

.vimeo-spacing
  margin-bottom: 5em

.vimeo-player
  margin-top: 10px
  margin-left: 3px
