.posts p,
article.article-detail,
.footer-tags,
.tag-header,
.tag-list
  +shift(3)
  +span-columns(8)
  //+span-columns(6.5)

.index-article
  +shift(3)
  +span-columns(8)
  +media(max-width 1250px)
    +shift(1)
    +span-columns(10)

.article-detail h3,
footer h3,
.detail-post-title,
.tag-header,
.tag-list-title
  font-size: 1.7em
  font-size: 2.5em

.detail-post-title
  +media(max-width 830px)
    font-size: 1.7em

.show_notes_display b,
.article-detail h3,
.detail-post-date,
.post-date,
.tag-date,
.tag-header
  color: $light-gray

.posts,
.article-detail p,
.post-title a,
h3.detail-post-topic-list
  color: #4a4a4a

.article-detail a,
.detail-post-title,
.tagname
  color: $brand-color

a.tag-list-link
  +transition(all .1s ease-in-out)
  color: darken($medium-gray, 30%)
  color: $light-gray
  &:hover
    border-bottom: none
    color: $brand-color

.article-detail a,
.article-detail,
.recent-posts,
.footer-tags,
.navigation
  font-family: $helvetica

.index-article h2, .profile-article
  -webkit-margin-before: -0.32em
  -webkit-margin-before: 0em

h3.about-header:first-of-type
  margin-top: -0.2em

h3.about-header
  margin-top: em(20px)

h2.post-title
  font-family: CamptonBoldDemo
  color: #4a4a4a
  line-height: 1.3
  font-size: 55px
  font-weight: bold
  margin:
    top: 55px
    bottom: 55px

h2.profile.post-title
  margin-top: -15px

h2.post-title
  +media(max-width 1250px)
    text-align: center
  
h3.topic-list
  font-family: CamptonBook
  font-size: 24px
  letter-spacing: 1px
  color: #4a4a4a
  margin-top: 55px

.date
  +shift(1)
  +span-columns(11)
  font-family: CamptonBook
  font-size: 20px
  letter-spacing: 1px
  color: #9b9b9b
  margin-bottom: -11px
  +media(max-width 1250px)
    +shift(0)
    +span-columns(12)
    text-align: center
    margin-bottom: 50px
