<!--  <% array = [] %>
  <% blog.articles.each do |article| %>

      <% array << article.data.interviewee %>
      <% end %>

      <%  array = array.uniq.sort_by { |word| word.downcase }%>
    <ul>
      <%  array.each do | interviewee | %>
        <li><a class='other-episodes' href="/tags/<%= dasherize(interviewee) %>"><%= interviewee %></a></li>
    </ul>
      <% end %>
-->

<article class='about article-detail'>

  <h3 class='about-header'>
    What is Bytepushers?
  </h3>
  
  <p>
    Many of us are influenced by the digital products that come out of Silicon Valley. Yet how many of us know the new disruptors who are living and working in other creative hotspots around the world? Places such as Singapore, Berlin, Amsterdam, London, Shanghai, Los Angeles, Tel Aviv … just to name a few.
  </p>

  <p>
    Bytepushers travels to these creative hotspots to pick the brains of people from the programming, design, and startup communities, aiming to inspire a new generation of digital makers. With this ongoing series, we present people who push the digital envelope; we are not only interested in well-established individuals, but also in underdogs who have just started out.
  </p>

  <h3 class='about-header'>
    Is it a repository? A collection? A podcast? An interview?
  </h3>

  <p>
    We interview these digital makers and essentially use the internet to break down barriers to bring them to you. You can see Bytepushers as a repository or a collection of interviews, but we’d like to think of it as giving you a glimpse of a day in the life of these makers.
  </p>

  <h3 class='about-header'>
    Can you name a few topics you cover in the interviews?
  </h3>

  <p>
    This is highly dependent on the interviewee - location, industry, and company positions all play a large role in the breadth and width covered in each talk. However, you can expect to find content about the following topics: Design Patterns, Development, Entrepreneurship, User Experience, etc…
  </p>

  <h3 class='about-header'>
     Do you have a focus?
  </h3>

  <p>
    Bytepushers mainly targets makers in the digital realm, but if if makes sense, our lack of focus is our main focus. 
  </p>

  <h3 class='about-header'>
    Why are you doing this?
  </h3>

  <p>
    It’s a simple win-win really; everyone gets to learn. Everyone gets inspired. Anyone can grow and learn with the right resources, the right advice, and/or the right circumstances. Here, Bytepushers gives you the information you need to help you get started and to create those circumstances for yourself.
  </p>

  <h3 class='about-header'>
    How can I join?
  </h3>

  <p>
    Our audience is global, with talent mostly in engineering & design. Feel free to reach out via email and we can discuss some topics and set up an appointment.
  </p>

  <h3 class='about-header'>
    I would like to send in my feedback.
  </h3>

  <p>
    We would be delighted to receive feedback. You can reach us via Twitter (<a href="https://twitter.com/Bytepushers_">@Bytepushers_</a>) or email works best if you want a prompt response. Feedback on design and functionality are always welcome! If you find a bug, we’ll do our best to fix it.
 
  </p>

  <h3 class='about-header'>
    Who is behind Bytepushers?
  </h3>

  <p>
    Bytepushers is a collaborative effort between <a href="https://www.edenspiekermann.com/">EdenSpiekermann</a> and <a href="https://vis-kid.github.io/">Ed Wassermann</a>. And of course, many thanks to our interviewees and contributors for their generosity with their time and wisdom.
  </p>

</article>
