<!--  <% array = [] %>
  <% blog.articles.each do |article| %>

      <% array << article.data.interviewee %>
      <% end %>

      <%  array = array.uniq.sort_by { |word| word.downcase }%>
    <ul>
      <%  array.each do | interviewee | %>
        <li><a class='other-episodes' href="/tags/<%= dasherize(interviewee) %>"><%= interviewee %></a></li>
    </ul>
      <% end %>
-->

<article class='article-detail'>

  <h3 class='about-header'>
    What is this project all about?
  </h3>
  
  <p>
    Inspiring a new generation of makers.
  </p>

</article>
