<div class='soundcloud-player-small'>  
  <figure class="image-block__figure"><img src="//images.contentful.com/<%= article.data.contentful_id %>" sizes="(min-width: 1160px) 1160px, 96vw" alt="" class="image-block__figure-image"></figure>
</div>


