
<div class='vimeo-player'>
  <div class='embed-container'>
    <iframe src="https://player.vimeo.com/video/<%= article.data.vimeo_id %>?color=ababab&portrait=0"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen>
    </iframe>
  </div>
</div>
