<div class='slick-container'>
  <figure class="image-block__figure">
    <img src="//images.contentful.com/<%= article.data.contentful_index_pic %>" sizes="(min-width: 1160px) 1160px, 96vw" alt="" class="image-block__figure-image">
  </figure>
</div>
