<div class='posts'>
  <ul>
    <% page_articles.each do |article| %>
      <li>
        <% if article.data.contentful_id %>
          <%= partial "partials/index-list-contentful-image", :locals => { :article => article } %>
        <% elsif article.data.vimeo_id %>
          <%= partial "partials/index-list-item-vimeo",       :locals => { :article => article } %>
        <% else %>
          <%= partial "partials/index-list-item-audio",       :locals => { :article => article } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>



