<div class='profilepic-wrapper'>
  <figure class="image-block__figure">
    <img src="//images.contentful.com/<%= current_page.data.contentful_profile_pic %>" sizes="(min-width: 1160px) 1160px, 96vw" alt="" class="image-block__figure-image">
  </figure>
</div>
